*  {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
}

header, footer {
  width: 100%;
  color: white;
  background-color: lightslategrey;
  padding: 10px 0;
}

header > div {
  margin: 0 auto;
  width: min(1000px, 80%);
}

footer {
  text-align: center;
}

main {
  padding: 20px 0;
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  height: 100%;
  width: min(1000px, 80%);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.upper {
  padding: 20px;
  display: flex;
  justify-content: center;
}

#addBook {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid white;
  transition: all 0.1s ease-in-out
}

#addBook:hover {
  filter: invert(100%);
}

.showLibrary {
  overflow: auto;
}

.books {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.book {
  height: 250px;
  border: 1px solid black;
}
