@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --black:   #15151a;
  --background:#e6e6e6;
  --container-size: min(1100px, 90%);
}

*  {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  margin-bottom: 75px;
}

header, footer {
  width: 100%;
  color: white;
  background-color: var(--black);
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

header svg {
  width: 100px;
  filter: invert(100%);
}

header {
  font-size: 40px;
}

footer {
  position: absolute;
  bottom: 0;
}

main {
  margin: 0 auto;
}

hr {
  width: var(--container-size);
}

.container {
  margin-top: 20px;
  width: var(--container-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

#addBook {
  width: 175px;
  background-color: var(--black);
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid white;
  transition: all 0.1s ease-in-out;
}

#addBook:active {
  background-color: white;
  color: black;
}

/* Popup */
.overlay {
  pointer-events: none;
  opacity: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color:rgba(0,0,0,0.3);
  transition: 200ms ease-in-out;
}

.overlay.show {
  pointer-events: all;
  opacity: 1;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease;
  z-index: 1;
}

.modal.show {
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 300px;
  max-width: 100%;
  height: 425px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.modal-content .header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.modal-content hr {
  width: 100%;
}

/* Form Content */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input {
  text-align: center;
  width: 90%;
  height: 30px;
  font-size: 20px;
  padding: 5px;
}
.textInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-msg {
  color: red;
  height: 15px;
}

.status-read,
.pageNumber {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pageNumber input {
  width: 60px;
  border: 1px solid black;
}

.pageNumber button {
  width: 30px;
  font-size: large;
  font-weight: bold;
}

.status-read input {
  width: 30px;
  accent-color: green;
}

.number {
  border: none;
  width: 45px;
  outline: none;
  text-align: center;
}

/* Hide input[number] arrows*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.btns button {
  border-radius: 20px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  width: 110px;
  color: white;
}

#cancel {
  background-color: red;
}

#cancel:hover {
  background-color: #900;
}

#cancel:active {
  background-color: crimson;
}

#submit {
  background-color: rgb(0, 170, 23);
}

#submit:hover {
  background-color: #090;
}

#submit:active {
  background-color:springgreen;
}

/* Book Display  */
.books {
  box-sizing: border-box;
  width: var(--container-size);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
}

.book-info {
  position: relative;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section.edit-book {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 0;
  right: 10px;
  padding: 10px;
  cursor: pointer;
}

.edit:hover,
.delete:hover {
  transform: scale(1.1);
}

.read {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  header svg {
    width: 50px;
  }

  h1 {
    font-size: 40px;
  }
}