:root {
  --lavander:   #363062;
  --purple:     #4D4C7D;
  --pale-purple:#827397;
  --cream:      #E9D5DA;
  --container-size: min(1100px, 90%);
}

*  {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--pale-purple);
  margin-bottom: 75px;
}

header, footer {
  width: 100%;
  color: white;
  background-color: var(--lavander);
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

header svg {
  width: 100px;
  filter: invert(100%);
}

header {
  font-size: 40px;
}

footer {
  position: absolute;
  bottom: 0;
}

main {
  margin: 0 auto;
}

hr {
  width: var(--container-size);
}

.container {
  margin-top: 20px;
  width: var(--container-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


#addBook {
  width: 150px;
  background-color: var(--pale-purple);
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid white;
  transition: all 0.1s ease-in-out
}

#addBook:hover {
  background-color: var(--lavander);
}

#addBook:active {
  background-color: black;
}

.books {
  width: var(--container-size);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
}

.book-info {
  height: 300px;
  background-color: var(--cream);
  border: 1px solid black;
}
